.google-charts {
    margin: 0 auto;
    width: 100%;
}

code {
    color: #80381a;
}

.google-charts-heading {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: #2E4057;
    margin-top: 50px;
    margin-bottom: 50px;
}

.google-charts-subheading {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    color: #2E4057;
    margin-bottom: 10px;
}

.google-charts-body {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #2E4057;
    margin-bottom: 50px;
}

.google-charts-body p {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.google-charts-body a {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #80381a;
    text-decoration: none;
}

.google-charts-example {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-bottom: 25px;
}

.google-charts-example-code {
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

@media screen and (max-width: 1280px) {
    .google-charts-example {
        padding: 0px 20px 0px 20px;
    }

    code {
        font-size: 12px;
    }
}

@media screen and (min-width: 1280px) {
    .google-charts {
        max-width: 1200px;
    }
}