@import "./Navbar.css";
@import "./White.css";

:root {
    --dark-blue: #2E4057;
    --burnt-orange: #D3D3D3;
}

@media screen and (max-width: 1280px) {
    .big-heading {
        font-size: 60px;
    }

    .heading {
        font-size: 30px;
    }

    .sub-heading {
        font-size: 20px;
    }

    .big-heading, .heading, .sub-heading, .body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .circle-img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 1280px) {
    .big-heading {
        font-size: 80px;
    }

    .heading {
        font-size: 40px;
    }

    .sub-heading {
        font-size: 30px;
    }

    .circle-img {
        height: 250px;
        width: 250px;
    }
}

.big-heading {
    font-weight: 300;
    color: var(--dark-blue);
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading {
    font-weight: 300;
    color: var(--dark-blue);
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub-heading {
    font-weight: 300;
    color: var(--dark-blue);
    margin-bottom: 30px;
}

.body {
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    color: var(--dark-blue);
}

.body a {
    color: var(--burnt-orange);
    text-decoration: none;
}

.footer {
    height: 100px;
}

.circle-img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}