@import "./Navbar.css";

:root {
    --white: #FFFFFF;
    --light-orange: #ff7235;
}

@media screen and (max-width: 1280px) {
    .big-heading-white {
        font-size: 60px;
    }

    .heading-white {
        font-size: 30px;
    }

    .sub-heading-white {
        font-size: 20px;
    }

    .big-heading-white, .heading-white, .sub-heading-white, .body-white {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .big-heading-white {
        font-size: 80px;
    }

    .heading-white {
        font-size: 40px;
    }

    .sub-heading-white {
        font-size: 30px;
    }
}

.big-heading-white {
    text-align: center;
    font-weight: 300;
    color: var(--white);
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading-white {
    text-align: center;
    font-weight: 300;
    color: var(--white);
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub-heading-white {
    text-align: center;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 30px;
}

.body-white {
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    color: var(--white);
}

.body-white a {
    color: var(--light-orange);
    text-decoration: none;
}