.color-grid-heading {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: #2E4057;
    margin-top: 50px;
    margin-bottom: 50px;
}

.color-grid-container {
    margin: 0 auto;
    height: 600px;
    width: 600px;
}