.color-square {
    margin-bottom: -4px;
    padding: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.color-0 {
    background-color: red;
}

.color-1 {
    background-color: orange;
}

.color-2 {
    background-color: yellow;
}

.color-3 {
    background-color: green;
}

.color-4 {
    background-color: teal;
}

.color-5 {
    background-color: blue;
}

.color-6 {
    background-color: purple;
}