.timeline-right {
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .timeline-right {
        flex-direction: column-reverse;
    }

    .timeline-right-image {
        order: 0;
        margin: 0 auto;
        padding-top: 20px !important;
        width: 100% !important;
        border-radius: 6px !important;
    }

    .timeline-right-photo-container {
        margin: 0 auto;
        width: 100% !important;
        text-align: center;
    }

    .timeline-right-photo {
        width: 300px !important;
        object-fit: scale-down !important;
    }

    .timeline-right-line-container {
        display: none !important;
    }

    .timeline-right-body-container {
        order: 1;
        margin: 0 auto;
        padding-top: 20px !important;
        height: 100% !important;
        width: 100% !important;
        text-align: center;
    }

    .timeline-right-body {
        padding: 0px 20px 0px 20px;
    }
}

.timeline-right-image {
    order: 2;
    display: inline-block;
    width: 500px;
}

.timeline-right-heading {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    color: #80381a;
    margin-bottom: 20px;
}

.timeline-right-photo {
    object-fit: none;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.timeline-right-line-container {
    order: 1;
    display: inline-block;
    vertical-align: top;
    width: 199px;
}

.timeline-right-horizontal-line {
    display: inline-block;
    height: 217px;
    width: 99px;
    border-bottom: 1px solid #80381a;
}

.timeline-right-vertical-line {
    display: inline-block;
    width: 99px;
    vertical-align: top;
    border-right: 1px solid #80381a;
    height: 420px;
}

.timeline-right-body-container {
    order: 0;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 500px;
}

.timeline-right-body {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #2E4057;
}